# Secrets
.env

# Python
__pycache__/
*.pyc
venv/
.venv/
env/

# Data Caches (Render will generate these automatically on the cloud)
backend/data/

# Node
node_modules/
frontend/node_modules/
.DS_Store

# Local Files not to be uploaded
*.pdf
